/*text{
    fill: #f2f2f2;
}
*/


#s3sgraf text{
    fill: #f2f2f2;
}

#s3sgraf .bar{
    stroke: #f2f2f2;
}

#s3sgraf path{
    stroke: #f2f2f2;
}
#s3pgraf text{
    fill: #f2f2f2;
}

#s3pgraf .bar{
    stroke: #f2f2f2;
}

#s3pgraf path{
    stroke: #f2f2f2;
}