.pdn_term_title {
  margin-bottom: 10px !important;
  color: #606060 !important;
  padding-top: 20px;
  font-weight: 700 !important;
}

.pdn_term_content {
  color: #606060 !important;
  font-size: 0.975rem !important;
}
