.Root{
  background-color: #e5e5e5;
}
.App {
  text-align : center;
  padding-top : 38px;
}

.App-header {
  background-color: white;
  height: 50px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: black;
  text-align: left;
}

.App-intro {
  min-height: 818px;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
}
.footer{
  background-color: black;
  height: 70px;
}
.right{
  padding: 1em 0;
  margin:0;
  float: right!important
}
.left{
  padding: 1em 0;
  margin:0;
  float: left!important
}
.textRight{
  text-align: right;
}
.container{
  width: 100%;
  margin-right: auto;
  margin-left : auto;
  padding-right : 0em;
  padding-left:  0em;
  padding-top: 0em;

}
.containerL2{
  width: 100%;
  margin-right: auto;
  margin-left : auto;
  padding-right : 1em;
  padding-left:  1em;

}

