.App {
  text-align : center;
  padding-top : 38px;
}

.App-header {
  background-color: white;
  height: 50px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: black;
  text-align: left;
}

.App-intro {
  font-size: large;
  background-color: #e5e5e5;
  min-height: 868px;
}
.footer{
  background-color: black;
  height: 70px;
}
.right{
  padding: 15px 0;
  margin:0;
  float: right!important
}
.left{
  padding: 15px 0;
  margin:0;
  float: left!important
}
.textRight{
  text-align: right;
}
.container{
  width: 100%;
  margin-right: auto;
  margin-left : auto;
  /*padding-right : 15px;
  padding-left:  15px;
  */
}
.containerL2{
  width: 100%;
  margin-right: auto;
  margin-left : auto;
  padding-right : 15px;
  padding-left:  15px;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

