.css-1rtrksz{
    width : auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.css-pz5vsn{
    color : #f5f5f5 !important;
}
.css-16hdw0f{
    color : #f5f5f5 !important;
}
.css-1ep9fjw{
    padding: 6px !important;
}