body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-recaptcha{
  display: inline-block;
  margin: 20px;
}

.tab:hover{
  background: grey;
  transition: color 0.3s ease;
  transition: background 0.3s ease;
}

.tabDeclaraciones:hover{
  background: #b7ccd5;
  transition: color 0.3s ease;
  transition: background 0.3s ease;
}