





body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif; */
  font-family: "muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
}

p {
  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  font-family: "muli", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #57585A;
}

h2 {
  font-family: "muli", sans-serif;

}

h2 span {
  color: #7C4971;
}

