@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.woff2") format("woff2"), url("/fonts/Muli-Regular.woff") format("woff"), url("/fonts/Muli-Regular.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif; */
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
}


.breadcrumb {
  /*background: #0d3b49;*/
  padding: 24px 0 24px;
}

.breadcrumb ul {
  line-height: 12px;
  margin: 0;
}

.breadcrumb li {
  font-size: 12px;
  display: inline-block;
  list-style: none;
  margin-right: 5px;
  font-family: "Muli", "sans-serif";
}

.breadcrumb li:after {
  content: ">";
  margin-left: 5px;
}

.breadcrumb li:last-child {
  color: #999999;
}

.breadcrumb li:last-child:after {
  content: "";
}

.breadcrumb li a {
  color: whitesmoke;
  border-bottom: 1px dotted #34b3eb;
}

.motivo-fondo {
  background: #fff url(/src/assets/rediseno2023/imgs/fondos/motivo_menu-principal.svg) left -13px no-repeat;
  min-height: 20px;
  background-size: cover;
}

/********* SECCIÓN ENCABEZADO **********/

.encabezado {
  background: transparent linear-gradient(230deg, #1C7CBF 0%, #1C7CBF 4%, #9F58E2 49%, #6D4061 100%) 0% 0% no-repeat padding-box;
  min-height: 77px;
  display: flex;
  justify-content: space-between;
}

.encabezado p {
  margin: 0;
  font-size: 16px;
}

.encabezado ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.encabezado a {
  text-decoration: none;
  color: #55575a;
  display: flex;
  align-items: center;
}

.encabezado a:hover {
  text-decoration: none;
  color: #1c7cbf;
}

.encabezado>div {
  padding: 7px 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.encabezado nav {
  font-size: 1em;
  border: 1px solid #fff;
  background: white;
  margin: 10px;
  border-radius: 75px;
  padding: 0px 30px;
}

.encabezado nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.encabezado nav li {
  display: flex;
  align-items: center;
  padding: 3px 7px;
}

.encabezado nav li p {
  display: contents;
}


.encabezado nav p {
  font-size: .7em;
  display: inherit;
  font-weight: 700;
}

.encabezado img {
  height: 32px;
}

.encabezado nav img {
  height: 45px;
  margin: 5px 3px 5px 3px;
}

.encabezado nav li:hover {
  transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.encabezado nav li:hover {
  background: #ebe9f9;
  /* border-radius: 10px; */
}

.encabezado nav li:hover p {
  color: #0a58ca;
}

.encabezado .autenticado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado .autenticado p {
  color: rgba(255, 255, 255, .8);
}

.encabezado .logo-sesion {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*... FIN ENCABEZADO ...*/



/********* MENUS **********/
#interconexionMenu,
#sistemasMenu {
  border-bottom: 1px solid #ddd2da;
  box-shadow: -2px 8px 25px 9px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: -2px 8px 25px 9px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -2px 8px 25px 9px rgba(0, 0, 0, 0.21);
}


#interconexionMenu p,
#sistemasMenu p {
  text-align: center;
}

/*... FIN MENUS ...*/



/********* HOME **********/

.home h1 {
  padding: 0;
  margin: 0;
}

.home h2 {
  padding: 0;
  margin: 10px 0;
  font-size: 1.55rem;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #1C7CBF;
}

.home img {
  padding: 0.6em 2em 0 0;
  height: 67px;
}

/*... FIN HOME ...*/


/********* FLOAT BUTTONS **********/

.chatbot>a {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.chatbot>a:hover {
  background: #552a4f;
}

/*... FIN FLOAT BUTTONS ...*/


/********* SECCIÓN SISTEMAS **********/
.sistemas,
.mda-home,
.blog {
  padding: 5% 10%;
}

.sistemas,
figure {
  margin: 0 40px;
}

.sistemas a>p {
  text-align: center;
  font-weight: 700;
}


.sistemas a {
  border: 1px solid #fff;
  border-radius: 0px;
  transition: all .3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sistemas a:hover {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
}

.sistemas a>img {
  transition: all .3s ease-in-out;
}

.sistemas a:hover>img {
  width: 105px;
}

/*...... FIN SISTEMAS .....*/


/********* SECCIÓN MDA **********/
.mda-home {
  padding: 6% 10% 12% 10%;
}

/*...... FIN MDA .....*/


/********* SECCIÓN BLOG **********/
.blog {
  background: #f2f0f2;
  min-height: 400px;
  padding: 60px 10%;
}

.blog img {
  width: 100%;
}

.blog p.desc {
  text-align: left;
  font-weight: 700;
  font-size: .9em;
  line-height: 1.2;
  margin: 10px 0px 0 0px;
}



/* .blog a > div {
  border: 1px solid #f2f0f2;
  border-radius: 10px;
  padding: 45px 20px;
  transition: 300ms cubic-bezier(0.39, 0.575, 0.565, 1) 0ms;
  margin: 0 2rem 30px 2rem;
} */

/* .blog a > div:hover {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
} */

.blog a {
  text-decoration: none;
}

/* .blog a:hover {
  color:#1C7CBF;
  text-decoration: none;
}
 */
.blog .blog-img {
  border-radius: 0;
  border: none;
  overflow: hidden;
  max-height: 145px;
  margin: 0 0 10px 0;
}

.blog .blog-img:hover {
  border-radius: 0;
  border: none;
}

.blog .blog-grid {
  padding: 45px 2rem;
}

/*...... FIN BLOG .....*/



/********* SECCIÓN FOOTER **********/
.footer {
  background: #fff;
  border-top: 1px solid #ccc;
  /* height: 285px; */
  display: flex;
  align-items: stretch;
}

.footer .columna-central {
  display: flex;
  justify-content: center;
}

.footer .texto-izq {
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer .texto-der {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer .columna-logos img {
  padding: 0px 0px 15px 0px;
  height: 62px;
}

.footer .acerca {
  background: transparent linear-gradient(230deg, #1C7CBF 0%, #1C7CBF 4%, #9F58E2 49%, #6D4061 100%) 0% 0% no-repeat padding-box;
}

.footer .redes img,
.footer .cc-license img {
  height: 30px;
}

.footer .acerca p {

  text-align: right;
  color: #e8e8e8;
}

.footer .acerca p a {
  color: #e8e8e8;
  text-decoration: none;
}

.footer .acerca p a:hover {
  text-decoration: underline;
}


.footer p {
  padding: 5px 10px 5px 10px;
}

.footer a {
  font-size: .7em;
  padding: 0 8px;
  margin: 4px 0;
}

.footer .redes,
.footer .cc-license {
  margin: 10px 0;
}

.footer .redes {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.footer .acerca {
  margin: 0;
}

.footer li a {
  padding: 0;
  text-transform: none;
}

.footer li a:hover {
  text-decoration: underline;
}

.footer .rellenar-altura {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer .col2 {
  background: #815474;
  width: 86px;
  height: 100%;
}

.footer ul {
  padding: 10px;
}

.footer figure {
  margin: 0px 10px;
}

.footer .col1 li {
  text-align: right;
}

.footer>div {
  padding: 25px 0;
}

.footer .columna-central {
  padding: 0;
}

.footer .acerca a {
  color: #e8e8e8;
  text-decoration: none;
}

.footer .acerca a:hover {
  text-decoration: underline;
}

.footer .cc-license>div {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}

/*.... FIN FOOTER .....*/
