@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/Muli-Regular.woff2") format("woff2"), url("../../assets/fonts/Muli-Regular.woff") format("woff"), url("../../assets/fonts/Muli-Regular.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

body {
  margin: 0;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
  font-weight: 300;
  color: #2a2a2a;
}


.breadcrumb {
  /*background: #0d3b49;*/
  padding: 24px 0 24px;
}

.breadcrumb ul {
  line-height: 12px;
  margin: 0;
}

.breadcrumb li {
  font-size: 12px;
  display: inline-block;
  list-style: none;
  margin-right: 5px;
  font-family: "Muli", "sans-serif";
}

.breadcrumb li:after {
  content: ">";
  margin-left: 5px;
}

.breadcrumb li:last-child {
  color: #999999;
}

.breadcrumb li:last-child:after {
  content: "";
}

.breadcrumb li a {
  color: whitesmoke;
  border-bottom: 1px dotted #34b3eb;
}

.motivo-fondo {
  background: #fff url("../../assets/rediseno2023/imgs/fondos/motivo_menu-principal.svg") left -13px no-repeat;
  min-height: 20px;
  background-size: cover;
}

/********* SECCIÓN ENCABEZADO **********/
header {
  position: sticky;
  top: 0;
  z-index: -2;
}

.encabezado {
  background: transparent linear-gradient(230deg, #1C7CBF 0%, #1C7CBF 4%, #9F58E2 49%, #6D4061 100%) 0% 0% no-repeat padding-box;
  min-height: 77px;
  display: flex;
  justify-content: space-between;
}

.encabezado p {
  margin: 0;
  font-size: 16px;
}

.encabezado ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.encabezado a {
  text-decoration: none;
  color: #55575a;
  display: flex;
  align-items: center;
}

.encabezado a:hover {
  text-decoration: none;
  color: #1c7cbf;
}

.encabezado>div {
  padding: 7px 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.encabezado nav {
  font-size: 1em;
  border: 1px solid #fff;
  background: white;
  margin: 10px 0 10px 0;
  border-radius: 75px;
  padding: 0px 0px;
}

.encabezado nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-wrap: wrap; */
}

.encabezado nav li {
  display: flex;
  align-items: center;
  padding: 1px 2px;
  margin: 2px 2px;
}

.encabezado nav li p {
  display: contents;
}


.encabezado nav p {
  font-size: .65em;
  display: inherit;
  font-weight: 700;
}

.encabezado img {
  height: 32px;
}

.encabezado nav img {
  height: 45px;
  margin: 1px 3px 1px 3px;
}

.encabezado nav li:hover {
  transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.encabezado nav li:hover {
  background: #ebe9f9;
  /* border-radius: 10px; */
}

.encabezado nav li:hover p {
  color: #0a58ca;
}

.encabezado .autenticado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado .autenticado p {
  color: rgba(255, 255, 255, .8);
}

.encabezado .logo-sesion {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-sesion { 
  opacity: 0.6;
  cursor: pointer;
}


/*... FIN ENCABEZADO ...*/



/********* MENUS **********/
#interconexionMenu,
#sistemasMenu, #normatividadMenu {
  border-bottom: 1px solid #ddd2da;
  box-shadow: -2px 8px 25px 9px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: -2px 8px 25px 9px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -2px 8px 25px 9px rgba(0, 0, 0, 0.21);
}


#interconexionMenu p,
#sistemasMenu p {
  text-align: center;
}

/*... FIN MENUS ...*/



/********* HOME **********/

.home h1 {
  padding: 0;
  margin: 0;
}

.home h2 {
  padding: 0;
  margin: 10px 0;
  font-size: 1.55rem;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #1C7CBF;
}

.home img {
  padding: 0.6em 2em 0 0;
  height: 67px;
}

.rootHome {
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 304 304'  width='304' height='304'%3e%3cdefs%3e%3cstyle%3e .cls-1 %7b stroke: %2302b3e4; stroke-dasharray: 0 0 45 400; stroke-linecap: round; stroke-linejoin: round; stroke-width: 3px;%7d .cls-1, .cls-2 %7b fill: none; stroke-opacity: .3;%7d .cls-2 %7b stroke: %239c92ac; stroke-miterlimit: 10; stroke-opacity: .15; stroke-width: 2px;%7d .path-1 %7b animation: draw 61s infinite; animation-timing-function: cubic-bezier(0,0,1,1);%7d .path-2 %7b animation: draw2 23s infinite; animation-delay: 1s; animation-timing-function: cubic-bezier(0,0,1,1);%7d .path-3 %7b animation: draw2 14s infinite; animation-delay: 0s; animation-timing-function: linear;%7d .path-4 %7b animation: draw2 14s infinite; animation-delay: 3s; animation-timing-function: linear;%7d %40keyframes draw %7b 0%25 %7b %7d 100%25 %7b stroke-dashoffset: 0; stroke-opacity: 1;%7d %7d %40keyframes draw2 %7b 0%25 %7b stroke-dashoffset: 0; stroke-opacity: 1;%7d 100%25 %7b stroke-dashoffset: 3000; stroke-opacity: 0;%7d %7d %3c/style%3e%3c/defs%3e%3cg id='path-four' class='path-4' fill-rule='evenodd' stroke-dashoffset='1000'%3e%3cg id='all'%3e%3cpolyline class='cls-1' points='289 304 289 257 241 257 241 193 257 193 257 161.1 241 161.1 241 149'/%3e%3cline class='cls-1' x1='304' y1='241' x2='261' y2='241'/%3e%3c/g%3e%3c/g%3e%3cg id='path-tree' class='path-3' fill-rule='evenodd' stroke-dashoffset='1000'%3e%3cg id='all-2' data-name='all'%3e%3cpolyline class='cls-1' points='33 304 33 241 .2 241'/%3e%3cpolyline class='cls-1' points='277.4 49.1 297 49.1 304 42.4'/%3e%3cpolyline class='cls-1' points='304 17 289 17 289 0'/%3e%3cpolyline class='cls-1' points='273.1 304 273.1 273 225.1 273 225.1 177 236.9 177'/%3e%3cline class='cls-1' x1='257' y1='0' x2='257' y2='12'/%3e%3c/g%3e%3c/g%3e%3cg id='path-two' class='path-2' fill-rule='evenodd' stroke-dashoffset='5000'%3e%3cg id='all-3' data-name='all'%3e%3cline class='cls-1' x1='.2' y1='225' x2='44.8' y2='225'/%3e%3cpolyline class='cls-1' points='241 302.5 241.1 289 257.1 289 257.1 304'/%3e%3cpolyline class='cls-1' points='81.1 303.9 81 273 204.9 273'/%3e%3cpolyline class='cls-1' points='97.2 303.9 97.2 289 220.9 289'/%3e%3cpolyline class='cls-1' points='0 122.2 33 89.5 33.1 69.1'/%3e%3cpolyline class='cls-1' points='17 0 17 17 0 17'/%3e%3cpolyline class='cls-1' points='12.9 33 9 33 0 42'/%3e%3cline class='cls-1' x1='12.9' y1='81' x2='0' y2='81'/%3e%3cpolyline class='cls-1' points='48 1.1 65 1.1 65 17 53 17'/%3e%3cpolyline class='cls-1' points='273.1 304 273.1 273 225.1 273 225.1 177 236.9 177'/%3e%3cpolyline class='cls-1' points='0 65 9.9 65 33.1 41 33.1 0'/%3e%3c/g%3e%3c/g%3e%3cg id='path-one' class='path-1' fill-rule='evenodd' stroke-dashoffset='9000'%3e%3cg id='all-4' data-name='all'%3e%3cpolyline class='cls-1' points='197.1 241 209 241 209 161.1 225.1 161 225.1 145 181.1 145'/%3e%3cpolyline class='cls-1' points='261 209.1 289.1 209.1 289.2 137 304 122.2'/%3e%3cpolyline class='cls-1' points='204.9 257 97 257 97 201 57 161 37.1 161'/%3e%3cpolyline class='cls-1' points='145 188.9 145 112.1 176.4 81 225.1 81 225.1 21.1'/%3e%3cpolyline class='cls-1' points='117.1 97 137.6 97 169.9 65 209.1 65 209.1 21.1'/%3e%3cpolyline class='cls-1' points='69.1 129 81 129 81.1 65 113 65 113 37.1'/%3e%3cpolyline class='cls-1' points='161 21.1 161 33 177 33 177 1.1 117.1 1.1'/%3e%3cpolyline class='cls-1' points='28.9 209 1 209 1 145 49 97 49 53.1'/%3e%3cpolyline class='cls-1' points='17 156.9 17 152.9 65 105 65.1 49 97 49 97 0'/%3e%3cpolyline class='cls-1' points='53.1 257 81.1 257 81.1 209 49 177 21.1 177'/%3e%3cpolyline class='cls-1' points='53.1 241 65 241 65 217 41.1 193 21.1 193'/%3e%3cpolyline class='cls-1' points='1 300.8 1 257 17 257 16.5 305.9'/%3e%3cpolyline class='cls-1' points='65 284.9 65 273 49 273 49 304'/%3e%3cpolyline class='cls-1' points='161 220.9 161 121 185 97 301 97'/%3e%3cpolyline class='cls-1' points='117 241 177 241 177 165.1'/%3e%3cpolyline class='cls-1' points='124.9 225 113 225 113 177 101.1 177'/%3e%3cline class='cls-1' x1='193' y1='220.9' x2='193' y2='165.1'/%3e%3cpolyline class='cls-1' points='273.1 188.9 273.1 144.9 261.1 144.9'/%3e%3cline class='cls-1' x1='261.1' y1='225' x2='304' y2='225'/%3e%3cline class='cls-1' x1='268.9' y1='129' x2='181.1' y2='129'/%3e%3cline class='cls-1' x1='284.9' y1='113' x2='197.1' y2='113'/%3e%3cpolyline class='cls-1' points='145 220.9 145 209 129 209 129 133.1'/%3e%3cpolyline class='cls-1' points='124.9 113 113 113 113 161 85.1 161'/%3e%3cpolyline class='cls-1' points='97 101.1 97 145 53.1 145'/%3e%3cpolyline class='cls-1' points='129 37.1 129 81 101.1 81'/%3e%3cpolyline class='cls-1' points='53 33 81.1 33 81.1 0'/%3e%3cpolyline class='cls-1' points='117.1 17 145 17 145 60.9'/%3e%3cpolyline class='cls-1' points='165.1 49.1 193 49.1 193 1.1 242 1.1'/%3e%3cpolyline class='cls-1' points='241 21.1 241 81 304 81'/%3e%3cpolyline class='cls-1' points='257 37.2 257 65 304 65'/%3e%3cpolyline class='cls-1' points='277.4 49.1 297 49.1 304 42.4'/%3e%3cpolyline class='cls-1' points='284.7 33 273.1 33 273.1 0'/%3e%3c/g%3e%3c/g%3e%3cg id='paths-background'%3e%3cpolyline class='cls-2' points='289 304 289 257 241 257 241 193 257 193 257 161.1 241 161.1 241 149'/%3e%3cpolyline class='cls-2' points='197.1 241 209 241 209 161.1 225.1 161 225.1 145 181.1 145'/%3e%3cpolyline class='cls-2' points='261 209.1 289.1 209.1 289.2 137 304 122.2'/%3e%3cpolyline class='cls-2' points='204.9 257 97 257 97 201 57 161 37.1 161'/%3e%3cpolyline class='cls-2' points='145 188.9 145 112.1 176.4 81 225.1 81 225.1 21.1'/%3e%3cpolyline class='cls-2' points='117.1 97 137.6 97 169.9 65 209.1 65 209.1 21.1'/%3e%3cpolyline class='cls-2' points='69.1 129 81 129 81.1 65 113 65 113 37.1'/%3e%3cpolyline class='cls-2' points='161 21.1 161 33 177 33 177 1.1 117.1 1.1'/%3e%3cpolyline class='cls-2' points='28.9 209 1 209 1 145 49 97 49 53.1'/%3e%3cpolyline class='cls-2' points='17 156.9 17 152.9 65 105 65.1 49 97 49 97 0'/%3e%3cpolyline class='cls-2' points='53.1 257 81.1 257 81.1 209 49 177 21.1 177'/%3e%3cpolyline class='cls-2' points='53.1 241 65 241 65 217 41.1 193 21.1 193'/%3e%3cpolyline class='cls-2' points='33 304 33 241 .2 241'/%3e%3cpolyline class='cls-2' points='17 304 17 257 1 257 1 300.8'/%3e%3cline class='cls-2' x1='44.8' y1='225' x2='.2' y2='225'/%3e%3cpolyline class='cls-2' points='65 284.9 65 273 49 273 49 304'/%3e%3cpolyline class='cls-2' points='257.1 304 257.1 289 241.1 289 241.1 304'/%3e%3cpolyline class='cls-2' points='161 220.9 161 121 185 97 301 97'/%3e%3cpolyline class='cls-2' points='117 241 177 241 177 165.1'/%3e%3cpolyline class='cls-2' points='124.9 225 113 225 113 177 101.1 177'/%3e%3cline class='cls-2' x1='193' y1='220.9' x2='193' y2='165.1'/%3e%3cpolyline class='cls-2' points='273.1 188.9 273.1 144.9 261.1 144.9'/%3e%3cline class='cls-2' x1='304' y1='225' x2='261.1' y2='225'/%3e%3cline class='cls-2' x1='304' y1='241' x2='261' y2='241'/%3e%3cline class='cls-2' x1='268.9' y1='129' x2='181.1' y2='129'/%3e%3cline class='cls-2' x1='284.9' y1='113' x2='197.1' y2='113'/%3e%3cpolyline class='cls-2' points='145 220.9 145 209 129 209 129 133.1'/%3e%3cpolyline class='cls-2' points='124.9 113 113 113 113 161 85.1 161'/%3e%3cpolyline class='cls-2' points='97 101.1 97 145 53.1 145'/%3e%3cpolyline class='cls-2' points='204.9 273 81 273 81.1 303.9'/%3e%3cpolyline class='cls-2' points='220.9 289 97.2 289 97.2 303.9'/%3e%3cpolyline class='cls-2' points='129 37.1 129 81 101.1 81'/%3e%3cpolyline class='cls-2' points='81.1 0 81.1 33 53 33'/%3e%3cpolyline class='cls-2' points='33.1 69.1 33.1 89 0 122.2'/%3e%3cpolyline class='cls-2' points='17 0 17 17 0 17'/%3e%3cpolyline class='cls-2' points='12.9 33 9 33 0 42'/%3e%3cline class='cls-2' x1='12.9' y1='81' x2='0' y2='81'/%3e%3cpolyline class='cls-2' points='33.1 0 33.1 41 9 65 0 65'/%3e%3cpolyline class='cls-2' points='48 1.1 65 1.1 65 17 53 17'/%3e%3cpolyline class='cls-2' points='117.1 17 145 17 145 60.9'/%3e%3cpolyline class='cls-2' points='165.1 49.1 193 49.1 193 1.1 242 1.1'/%3e%3cpolyline class='cls-2' points='241 21.1 241 81 304 81'/%3e%3cpolyline class='cls-2' points='257 37.2 257 65 304 65'/%3e%3cpolyline class='cls-2' points='277.4 49.1 297 49.1 304 42.4'/%3e%3cpolyline class='cls-2' points='273.1 0 273.1 33 284.7 33'/%3e%3cpolyline class='cls-2' points='289 0 289 17 304 17'/%3e%3cline class='cls-2' x1='257' y1='0' x2='257' y2='12'/%3e%3cpolyline class='cls-2' points='273.1 304 273.1 273 225.1 273 225.1 177 236.9 177'/%3e%3ccircle class='cls-2' cx='17' cy='33' r='4.1'/%3e%3cpath class='cls-2' d='M5,0c0,.3.1.7.1,1.1,0,2.3-1.8,4.1-4.1,4.1S.3,5.1,0,5'/%3e%3cpath class='cls-2' d='M116.9,0c0,.3.1.7.1,1.1,0,2.3-1.8,4.1-4.1,4.1s-4.1-1.8-4.1-4.1,0-.7.1-1.1'/%3e%3ccircle class='cls-2' cx='113' cy='17' r='4.1'/%3e%3ccircle class='cls-2' cx='113.1' cy='33' r='4.1'/%3e%3ccircle class='cls-2' cx='129' cy='33' r='4.1'/%3e%3ccircle class='cls-2' cx='161' cy='17' r='4.1'/%3e%3ccircle class='cls-2' cx='161' cy='49.1' r='4.1'/%3e%3ccircle class='cls-2' cx='145' cy='65' r='4.1'/%3e%3ccircle class='cls-2' cx='209.1' cy='17' r='4.1'/%3e%3ccircle class='cls-2' cx='225' cy='17' r='4.1'/%3e%3ccircle class='cls-2' cx='241' cy='17' r='4.1'/%3e%3ccircle class='cls-2' cx='257' cy='17' r='4.1'/%3e%3ccircle class='cls-2' cx='257' cy='33' r='4.1'/%3e%3ccircle class='cls-2' cx='289' cy='33' r='4.1'/%3e%3ccircle class='cls-2' cx='273.1' cy='49' r='4.1'/%3e%3cpath class='cls-2' d='M304,5c-1.7-.5-3-2.1-3-3.9s0-.7.1-1.1'/%3e%3cpath class='cls-2' d='M304,100.9c-1.7-.5-3-2.1-3-3.9s1.3-3.5,3-3.9'/%3e%3ccircle class='cls-2' cx='289' cy='113' r='4.1'/%3e%3ccircle class='cls-2' cx='193' cy='113' r='4.1'/%3e%3ccircle class='cls-2' cx='273' cy='129' r='4.1'/%3e%3ccircle class='cls-2' cx='177' cy='129' r='4.1'/%3e%3ccircle class='cls-2' cx='177' cy='144.9' r='4.1'/%3e%3ccircle class='cls-2' cx='241' cy='144.9' r='4.1'/%3e%3ccircle class='cls-2' cx='257' cy='144.9' r='4.1'/%3e%3ccircle class='cls-2' cx='177' cy='161.1' r='4.1'/%3e%3ccircle class='cls-2' cx='193' cy='161' r='4.1'/%3e%3ccircle class='cls-2' cx='241' cy='177' r='4.1'/%3e%3ccircle class='cls-2' cx='273' cy='193' r='4.1'/%3e%3ccircle class='cls-2' cx='257' cy='209.1' r='4.1'/%3e%3ccircle class='cls-2' cx='257' cy='225' r='4.1'/%3e%3ccircle class='cls-2' cx='257' cy='241' r='4.1'/%3e%3ccircle class='cls-2' cx='209' cy='257' r='4.1'/%3e%3ccircle class='cls-2' cx='193' cy='241' r='4.1'/%3e%3ccircle class='cls-2' cx='209' cy='273' r='4.1'/%3e%3ccircle class='cls-2' cx='225' cy='289' r='4.1'/%3e%3cpath class='cls-2' d='M109,304c.4-1.8,2-3.2,4-3.2s3.6,1.4,4,3.2'/%3e%3cpath class='cls-2' d='M301.1,304c.3-1.5,1.5-2.6,2.9-3'/%3e%3ccircle class='cls-2' cx='65' cy='289' r='4.1'/%3e%3ccircle class='cls-2' cx='49' cy='257' r='4.1'/%3e%3ccircle class='cls-2' cx='49' cy='241' r='4.1'/%3e%3ccircle class='cls-2' cx='49' cy='225' r='4.1'/%3e%3ccircle class='cls-2' cx='33' cy='209' r='4.1'/%3e%3cpath class='cls-2' d='M0,301c.3,0,.7-.1,1-.1,1.9,0,3.6,1.4,4,3.2'/%3e%3ccircle class='cls-2' cx='193' cy='225' r='4.1'/%3e%3ccircle class='cls-2' cx='161' cy='225' r='4.1'/%3e%3ccircle class='cls-2' cx='145' cy='225' r='4.1'/%3e%3ccircle class='cls-2' cx='129' cy='225' r='4.1'/%3e%3ccircle class='cls-2' cx='112.9' cy='241' r='4.1'/%3e%3ccircle class='cls-2' cx='81' cy='161' r='4.1'/%3e%3ccircle class='cls-2' cx='129' cy='129' r='4.1'/%3e%3ccircle class='cls-2' cx='49' cy='17' r='4.1'/%3e%3ccircle class='cls-2' cx='49' cy='33' r='4.1'/%3e%3ccircle class='cls-2' cx='49' cy='49' r='4.1'/%3e%3ccircle class='cls-2' cx='33' cy='65' r='4.1'/%3e%3ccircle class='cls-2' cx='17' cy='81' r='4.1'/%3e%3ccircle class='cls-2' cx='97' cy='81' r='4.1'/%3e%3ccircle class='cls-2' cx='97' cy='97' r='4.1'/%3e%3ccircle class='cls-2' cx='113' cy='97' r='4.1'/%3e%3ccircle class='cls-2' cx='129' cy='113' r='4.1'/%3e%3ccircle class='cls-2' cx='65' cy='129' r='4.1'/%3e%3ccircle class='cls-2' cx='49' cy='145' r='4.1'/%3e%3ccircle class='cls-2' cx='33' cy='161.1' r='4.1'/%3e%3ccircle class='cls-2' cx='17' cy='161' r='4.1'/%3e%3ccircle class='cls-2' cx='97' cy='177.1' r='4.1'/%3e%3ccircle class='cls-2' cx='17' cy='177.1' r='4.1'/%3e%3ccircle class='cls-2' cx='17' cy='193' r='4.1'/%3e%3cpath class='cls-2' d='M0,93c.3,0,.7-.1,1-.1,2.3,0,4.1,1.8,4.1,4.1s-1.8,4.1-4.1,4.1-.7,0-1-.1'/%3e%3ccircle class='cls-2' cx='145' cy='193' r='4.1'/%3e%3c/g%3e%3c/svg%3e");
  background-image: none;
}

.rootHome .pdn-txt-bg {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 32%, rgba(255, 255, 255, 0.3) 48%, rgba(255, 255, 255, 0) 100%);
    position: relative;
}

.rootHome.contenedor {
  background: red;
  position: relative;
  width: 100%;
  height: 400px;
  /* height: 100vh; */
}

canvas#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%;
  background: blue; */
}

/*... FIN HOME ...*/


/********* FLOAT BUTTONS **********/

.chatbot>a {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.chatbot>a:hover {
  background: #552a4f;
}

/*... FIN FLOAT BUTTONS ...*/


/********* SECCIÓN SISTEMAS **********/
.sistemas,
.mda-home,
.blog {
  padding: 5% 10%;
}

.sistemas,
figure {
  margin: 0 40px;
}

.sistemas a>p {
  text-align: center;
  font-weight: 700;
}


.sistemas a {
  border: 1px solid #fff;
  border-radius: 0px;
  transition: all .3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sistemas a:hover {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
}

.sistemas a>img {
  transition: all .3s ease-in-out;
}

.sistemas a:hover>img {
  width: 105px;
}

/*...... FIN SISTEMAS .....*/


/********* SECCIÓN MDA **********/
.mda-home {
  padding: 6% 10% 12% 10%;
}

/*...... FIN MDA .....*/


/********* SECCIÓN BLOG **********/
.blog {
  background: #f2f0f2;
  min-height: 400px;
  padding: 60px 10%;
}

.blog img {
  width: 100%;
}

.blog p.desc {
  text-align: left;
  font-weight: 700;
  font-size: .9em;
  line-height: 1.2;
  margin: 10px 0px 0 0px;
}



/* .blog a > div {
  border: 1px solid #f2f0f2;
  border-radius: 10px;
  padding: 45px 20px;
  transition: 300ms cubic-bezier(0.39, 0.575, 0.565, 1) 0ms;
  margin: 0 2rem 30px 2rem;
} */

/* .blog a > div:hover {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
} */

.blog a {
  text-decoration: none;
}

/* .blog a:hover {
  color:#1C7CBF;
  text-decoration: none;
}
 */
.blog .blog-img {
  border-radius: 0;
  border: none;
  overflow: hidden;
  max-height: 145px;
  margin: 0 0 10px 0;
}

.blog .blog-img:hover {
  border-radius: 0;
  border: none;
}

.blog .blog-grid {
  padding: 45px 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .blog #blogcards {
    flex-direction: column;
  }
}

/*...... FIN BLOG .....*/



/********* SECCIÓN FOOTER **********/
.footer {
  background: #fff;
  border-top: 1px solid #ccc;
  /* height: 285px; */
  display: flex;
  align-items: stretch;
}

.footer .columna-central {
  display: flex;
  justify-content: center;
}

.footer .texto-izq {
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer .texto-der {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer .columna-logos img {
  padding: 0px 0px 15px 0px;
  height: 62px;
}

.footer .acerca {
  background: transparent linear-gradient(230deg, #1C7CBF 0%, #1C7CBF 4%, #9F58E2 49%, #6D4061 100%) 0% 0% no-repeat padding-box;
}

.footer .redes img,
.footer .cc-license img {
  height: 30px;
}

.footer .acerca p {

  text-align: right;
  color: #e8e8e8;
}

.footer .acerca p a {
  color: #e8e8e8;
  text-decoration: none;
}

.footer .acerca p a:hover {
  text-decoration: underline;
}


.footer p {
  padding: 5px 10px 5px 10px;
}

.footer a {
  font-size: .7em;
  padding: 0 8px;
  margin: 4px 0;
}

.footer .redes,
.footer .cc-license {
  margin: 10px 0;
}

.footer .redes {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.footer .acerca {
  margin: 0;
}

.footer li a {
  padding: 0;
  text-transform: none;
}

.footer li a:hover {
  text-decoration: underline;
}

.footer .rellenar-altura {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer .col2 {
  background: #815474;
  width: 86px;
  height: 100%;
}

.footer ul {
  padding: 10px;
}

.footer figure {
  margin: 0px 10px;
}

.footer .col1 li {
  text-align: right;
}

.footer>div {
  padding: 25px 0;
}

.footer .columna-central {
  padding: 0;
}

.footer .acerca a {
  color: #e8e8e8;
  text-decoration: none;
}

.footer .acerca a:hover {
  text-decoration: underline;
}

.footer .cc-license>div {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}

/*.... FIN FOOTER .....*/

/* Colores de INPUTS */
.MuiFormLabel-root {
  color: #94638d !important;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #94638d !important;
}

/* Footer Nuevo Propuesto */

.footerBorderTop {
  border-top: 5px solid; 
  border-image: linear-gradient(230deg, #1C7CBF 0%, #1C7CBF 4%, #9F58E2 49%, #6D4061 100%) 1 0 0 0;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-3 {
  margin-top: 1rem !important;

}
.mb-3 {
  margin-bottom: 1rem !important;
}

.footerIcon svg {
  color: #815474;
  font-size: 2.2rem;
  /* min-height: 90px; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  fill: #815474;
}

.footerLogos img {
  max-height: 90px !important;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.footerList li {
  list-style: none;
}

.footerList a {
  text-decoration: none;
  color: #57585A;
  transition: all 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  font-size: 0.9375rem;
}

.footerList a:hover {
  text-decoration: none;
  color: #7a3d71;
}

.footerList ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0px;
}

